/* big tablet to 1140px: 1024-1200px */
@media only screen and (max-width: 1200px) {
    .hero-text-box{
        width: 100%;
        padding: 0 2%;
    }
    
    .row{ padding: 0 2%; }
}


/* small tablet to big tablet: 768-1023px */
@media only screen and (max-width: 1023px) {
    body{ font-size: 18px;}
    section {padding: 60px;}

    .long-copy {
        width: 80%;
        margin-left: 10%;
    }

    .step-box{ margin-top: 10px;}
    .step-box:first-child { margin-top: 10px}
    .work-steps { margin-bottom: 40px;}
    .work-steps:last-child { margin-bottom: 60px;}

    .app-screen{ width: 50%;}

    .icon-small{
        width: 17px;
        margin-right: 5px;
    }

    .city-feature { font-size: 90%;}

    .plan-box {
        width: 100%;
        margin-left: 0%;
    }

    .plan-price{font-size: 250%;}
    .contact-form{ width: 80%;}
}

/* small phones to small tablet: 481-767px */
@media only screen and (max-width: 767px) {
    body{ font-size: 16px;}
    section {padding: 30px;}

    .row,
    .long-copy{ padding: 0 4%; }

    .col {width: 100%;}

}


/* Small Phones: 0-480px */
@media only screen and (max-width: 480px) {}